@model WebApplication2.Models.ContactViewModel
@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    @Model.Name<br />
    <abbr title="Phone">P:</abbr>
    @Model.Phone
</address>